*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: '  Poppins' , sans-serif;

}

body{

color: #ededed;


}

.header{

position: fixed;
top: 0; 
left: 0;
width: 100%;
padding: 20px 10%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.Logo{
font-size: 25px;
color: white;
text-decoration: none;
font-weight: 600;

}

.Logo::before{

content: '';
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
}

.navbar a{
    font-family: cursive;
 font-size: 18px;
color: #ededed;
text-decoration: none;
font-weight: 500;
margin-left: 35px; 
transition: .3s;
}

.navbar a:hover,
.navbar a.active {
color: goldenrod;
}

.home{
    height: 100vh;
display: flex;
align-items: center;
padding: 0 10%;
background: url(background1.jpg) no-repeat;
background-size: cover;
background-position: center;
}
.home-content{

max-width: 600px;

}

.home-content h1{
    font-family: cursive;
font-size: 56px;
font-weight: 700;
line-height: 1.2;
}

.home-content h3{
    font-family: cursive;
    font-size: 32px;
    font-weight: 700; 
    color: rgb(255, 238, 0);
    padding: auto;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}


.home-content .btn-box{
display: flex;
justify-content: space-between;
    width: 345px;
    height: 50px;
   
}

.btn-box a{
    position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 150px;
height: 100%;
background: transparent;
border: 2px solid transparent;
border-radius: 82px;
font-size: 19px;
color: white;
text-decoration: none;
font-weight: 600;
letter-spacing: 1px;
z-index: 1;
overflow: hidden ;
transition: .5s;
}

.btn-box a:hover{

    color:black;
}

.btn-box a:nth-child(2) {
background: transparent; 
color: white;
}
.btn-box a:nth-child(2):hover{
color: black;

}
.btn-box a:nth-child(2)::before{
background: goldenrod;

}

.btn-box a::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background:goldenrod;
z-index: -1;
transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;


}
    
.home-sci{
font-family: cursive;
position: absolute;
bottom: 40px;
width: 170px;
display: flex;
justify-content: space-between;
}
.home-sci a{
    font-family: cursive;
    position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid black; ;
border-radius: 50%;
font-size: 20px;
color: #00abf0;
text-decoration: none;
z-index: 1;
overflow:hidden ;
transition: .5s;
}
.home-sci a:hover{

color: #081b29;

}
.home-sci a::before{
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: goldenrod;
    z-index: -1;
    transition: .5s;

}
.home-sci a:hover::before {
    width: 100%;
}
.homepic{

position: absolute;
top: 0;
right: 30px;
width: 500px;
height: 100%;
background: transparent;

transition: 3s;
}

.homepic{
    position: fixed;
background-position: left;
background-image: url(IMG_0885.jpg);
background-size: 400px;
width: 320px;
height: 320px;
opacity: .8;
border-radius: 50%;
top: 50;
}

